#hero {
  background: url('../../Assets/Background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  transform: skewY(-6deg);
  transform-origin: top left;
  z-index: -99;
  overflow: hidden;

}

#heroText {
  color: #2512d9;
  margin-top: 300px;
  transform: skewY(6deg);
}
#heroText h1 {
  font-family: 'Play', sans-serif;
  background: black;
  width: calc(100% + 10px);
  border: 5px solid white;
  margin-left: -5px;
  color: white;
  padding: 10px;
}
#heroIntro {
  background: white;
  position: absolute;
  left: 0;
  margin-top: -22px;
  padding: 0 20px;
}
#heroOutro {
  background: white;
  position: absolute;
  margin-top: -1px;
  right: 0;
  padding: 0 20px;
}