#hero {
  background: url('../../Assets/Background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 70px;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 250px;
  transform: skewY(-6deg);
  transform-origin: top left;
  z-index: -99;
}